$button-hover-color: #fc0404;
$test-result-color: #acabab;
$line-color: #ced6e0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body, html {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $line-color;
    background: var(--line-color, darkgray);
  }

  .button-exit {
    cursor: pointer;
    text-transform: capitalize;
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: $test-result-color;
    color: var(--test-result-color, #acabab);
  }

  .header-right-block {
    display: flex;
    flex-flow: row nowrap;
    color: $test-result-color;
    color: var(--test-result-color, #acabab);

    .space {
      padding: 0 0.5rem;
      color: black;
    }

    .button-cancel-answers {
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 710px) {
  .row {
    padding: 0.5rem;
    flex-direction: column;
    font-size: 0.85rem;

    .button-exit {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
    }
  }
}
@media screen and (min-width: 960px) {
  .row {
    .header-right-block {
      position: absolute;
      right: 1rem;
      top: 1rem;

      .space {
        padding: 0 0.5rem;
        color: black;
      }

      .button-cancel-answers {
        cursor: pointer;
      }
    }
  }
}
